<link rel="stylesheet" href="../style/main.css" />

<div class="mainHeader">
  <div class="iconBag">
    <a href="/myAccount/downloads"><i class="fa-regular fa-user fa-2xl"></i></a>
    <a href="#"><i class="fa-regular fa-heart fa-2xl"></i></a>
    <a href="/basket"><i class="fa-solid fa-basket-shopping fa-2xl"></i></a>
  </div>
  <div class="mainContainer">
    <h1 class="titleName">PRINT YOUR ADVENTURE</h1>
    {{#if user}}
      <span>Привет {{user}}</span>
      <a href="/logout"><button
          id="regButton"
          type="button"
          class="btn btn-outline-light"
        >logout</button></a>
    {{/if}}
    {{#unless user}}
      <a href="/registration"><button
          id="regButton"
          type="button"
          class="btn btn-outline-light"
        >Register</button></a>
      <a href="/login"><button
          id="regButton"
          type="button"
          class="btn btn-outline-light"
        >Login</button></a>
    {{/unless}}
  </div>
</div>

<div class="bodyContainer">
  <div class="row my-4">
    <div class="col">
      <div id="allCards">
        {{#each currNote}}
          <div class="card" style="width: 18rem;">
            <img
              class="modelImg"
              src="/{{this.mainImage}}"
              class="card-img-top"
              alt="3d mdel"
            />
            <div class="card-body">
              <h5 class="card-title">{{this.name}}</h5>
              <p class="card-text">{{this.description}}</p>
              <br />
              <h4 class="price">{{this.price}} $</h4>
              <a href="/listing/{{this.id}}"><button
                  class="btn btn-secondary"
                >BUY NOW</button></a>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
    <div class="pagination">
      {{#each btnArr}}
        <a class="paginationLink" href="{{this.href}}">{{this.name}}</a>
        <br />
      {{/each}}
    </div>

  </div>
</div>

<footer>
  <div class="footerMain">

    <div class="FooterImgBlock">
      <img src="/image/left.png" width="300px" />

    </div>
    <div class="footerBox">
      <h6>About us</h6>
      <i class="fa-brands fa-facebook fa-lg"></i>
      <i class="fa-brands fa-twitter-square fa-lg"></i>
      <i class="fa-brands fa-telegram fa-lg"></i>
      <i class="fa-brands fa-youtube-square fa-lg"></i>
      <i class="fa-brands fa-discord fa-lg"></i>
    </div>
  </div>
  <div class="footerEnd">
    <p>Copyright © 2022. Galactic Miniatures. All rights reserved.</p>
    <div class="footerLinks">
      <a>Legal Inform</a>
      <a>Cookies</a>
      <a>Terms & Conditions</a>
      <a>Privacy Policy</a>
    </div>
  </div>
</footer>
